@font-face {
  font-family: 'Xiangjiao-dajiangjunlingganti';
  src: url('../fonts/Xiangjiaodajiangjunlingganti.woff2') format('woff2'),
      url('../fonts/Xiangjiaodajiangjunlingganti.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Xiangjiao-dajiangjunlingganti';
}
.container {
  text-align: center;
  padding: 20% 0;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
}
.container #time {
  font-size: 25px;
  color: #fff;
}

.heart {
  animation: heartDance 1s ease-in-out infinite;
}

#fireworks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@keyframes heartDance {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
