@font-face {
  font-family: 'Xiangjiao-dajiangjunlingganti';
  src: url('../fonts/Xiangjiaodajiangjunlingganti.woff2') format('woff2'),
      url('../fonts/Xiangjiaodajiangjunlingganti.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Xiangjiao-dajiangjunlingganti';
}
.container {
  text-align: center;
  padding: 20% 0;
}
.container #time {
  font-size: 25px;
  color: #fff;
}
